{% extends 'partials/base.html' %}

{% block content %}
<div class="container mt-5">
    <h4 id="health_data">Overall Table</h4>
    <table class="table table-bordered">
        <thead style="background-color: rgb(203, 177, 245); color: black;">
            <tr>
                <th>Timestamp</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Rain</th>
                <th>LDR</th>
                <th>Moisture</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in weather_data %}
                <tr>
                    <td>{{ entry.timestamp }}</td>
                    <td>{{ entry.temperature }}</td>
                    <td>{{ entry.humidity }}</td>
                    <td>{{ entry.rain }}</td>
                    <td>{{ entry.ldr }}</td>
                    <td>{{ entry.moisture }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table><br><br>
    <h4 id="weather_chart">Overall Chart</h4>
    <canvas id="weatherChart" width="600" height="300"></canvas>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('weatherChart').getContext('2d');
    
            var data = {
                labels: [{% for entry in weather_data %}'{{ entry.timestamp }}',{% endfor %}],
                datasets: [
                    {
                        label: 'Temperature',
                        data: [{% for entry in weather_data %}{{ entry.temperature }},{% endfor %}],
                        borderColor: 'rgb(37,37,39)',
                        borderWidth: 1,
                        fill: false
                    },
                    {
                        label: 'Humidity',
                        data: [{% for entry in weather_data %}{{ entry.humidity }},{% endfor %}],
                        borderColor: 'rgb(230,54,115)',
                        borderWidth: 1,
                        fill: false
                    },
                    {
                        label: 'Rain',
                        data: [{% for entry in weather_data %}{{ entry.rain }},{% endfor %}],
                        borderColor: 'rgb(167, 27, 177)',
                        borderWidth: 1,
                        fill: false
                    },
                    {
                        label: 'LDR',
                        data: [{% for entry in weather_data %}{{ entry.ldr }},{% endfor %}],
                        borderColor: 'rgb(38,127,234)',
                        borderWidth: 1,
                        fill: false
                    },
                    {
                        label: 'Moisture',
                        data: [{% for entry in weather_data %}{{ entry.moisture }},{% endfor %}],
                        borderColor: 'rgb(38,127,234)',
                        borderWidth: 1,
                        fill: false
                    }
                ]
            };
    
            var options = {
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day'
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            };
    
            var chart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: options
            });
        });
    </script>
    
    
</div>
{% endblock %}