<!DOCTYPE html>
<html>
<head>
    <title>Sensor Data</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Date and Time</th>
            <th>Activity</th>
        </tr>
        {% for data in sensor_data %}
            <tr>
                <td>{{ data.datetime }}</td>
                <td>{{ data.activity }}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="/api/sensor_data/1/">Add Unauthorized Entry (status=1)</a>
    <a href="/api/sensor_data/11/">Add Unknown Person Entry (status=11)</a>
</body>
</html>

